<!DOCTYPE html>
<html ng-app="App" ng-controller="Ctrl">

<head>
    <title>mkultralisk.github.io</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/92ca18ede9.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Armata|Montserrat&display=swap" rel="stylesheet">

</head>

<body>
    <br>

    <div class="container ng-cloak">
        <div class="row">

            <div class="col-md-6">
                <img src="https://pbs.twimg.com/media/D31RSF5W4AAiGla?format=jpg&name=large" width="100%">
            </div>



            <div class="col-md-6">
                <h3 id="h3" style="color: white; text-align: justify; font-family: 'Major Mono Display', monospace;">
                    Lorem ipsum dolor sit amet
                </h3>
                <p id="p" text-align="justify" style="text-align: justify; font-family: 'Montserrat', monospace">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.
                </p>

                <table class="table table-borderless table-sm">
                    <tbody>
                        <tr align="center">
                            <td id="c0">
                                <span ng-click="setcolor(0)" style="cursor: pointer">💙</span>
                            </td>
                            <td id="c1">
                                <span ng-click="setcolor(1)" style="cursor: pointer">⭐</span>
                            </td>
                            <td id="c2">
                                <span ng-click="setcolor(2)" style="cursor: pointer">🌸</span>
                            </td>
                            <td id="c3">
                                <span ng-click="setcolor(3)" style="cursor: pointer">🍆</span>
                            </td>
                            <td id="c4">
                                <span ng-click="setcolor(4)" style="cursor: pointer">🔥</span>
                            </td>
                            <td id="c5">
                                <span ng-click="setcolor(5)" style="cursor: pointer">🥑</span>
                            </td>
                        </tr>
                        <tr style="text-align: center; font-family: 'Montserrat', monospace">
                            <td id="td0" ng-click="setbackground(0)" style="background-color: white" colspan="2"><span
                                    style="cursor: pointer">white</span></td>
                            <td id="td1" ng-click="setbackground(1)" style="background-color: #161f2b" colspan="2"><span
                                    style="color: lightgrey; cursor: pointer">night</span></td>
                            <td id="td2" ng-click="setbackground(2)" style="background-color: black" colspan="2"><span
                                    style="color: grey; cursor: pointer">black</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <script>
        var app = angular.module('App', []);
        app.controller('Ctrl', function ($scope) {
            var blue = '#349bf1'; //brilliant azure
            var yellow = '#fcb126'; //my sin
            var pink = '#e3256b'; //razzmatazz
            var purple = '#7c3ec4'; //fuchsia blue
            var orange = '#f16128'; //flamingo
            var green = '#1cc163'; //crayola green

            var white = '#ffffff';
            var night = '#161f2b';
            var black = '#000000';

            $scope.setcolor = function (id) {
                switch (id) {
                    case 0:
                        document.getElementById('h3').style.backgroundColor = blue;
                        document.getElementById('p').style.color = blue;
                        $scope.current = blue;

                        $scope.setbackground($scope.td);
                        // document.getElementById('td'+$scope.td).style.border = 'thick solid '+blue;

                        document.getElementById('c0').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c1').style.borderTop = null;
                        document.getElementById('c2').style.borderTop = null;
                        document.getElementById('c3').style.borderTop = null;
                        document.getElementById('c4').style.borderTop = null;
                        document.getElementById('c5').style.borderTop = null;

                        break;
                    case 1:
                        document.getElementById('h3').style.backgroundColor = yellow;
                        document.getElementById('p').style.color = yellow;
                        $scope.current = yellow;

                        $scope.setbackground($scope.td);

                        document.getElementById('c1').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c0').style.borderTop = null;
                        document.getElementById('c2').style.borderTop = null;
                        document.getElementById('c3').style.borderTop = null;
                        document.getElementById('c4').style.borderTop = null;
                        document.getElementById('c5').style.borderTop = null;
                        break;
                    case 2:
                        document.getElementById('h3').style.backgroundColor = pink;
                        document.getElementById('p').style.color = pink;
                        $scope.current = pink;

                        $scope.setbackground($scope.td);

                        document.getElementById('c2').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c1').style.borderTop = null;
                        document.getElementById('c0').style.borderTop = null;
                        document.getElementById('c3').style.borderTop = null;
                        document.getElementById('c4').style.borderTop = null;
                        document.getElementById('c5').style.borderTop = null;
                        break;
                    case 3:
                        document.getElementById('h3').style.backgroundColor = purple;
                        document.getElementById('p').style.color = purple;
                        $scope.current = purple;

                        $scope.setbackground($scope.td);

                        document.getElementById('c3').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c1').style.borderTop = null;
                        document.getElementById('c2').style.borderTop = null;
                        document.getElementById('c0').style.borderTop = null;
                        document.getElementById('c4').style.borderTop = null;
                        document.getElementById('c5').style.borderTop = null;
                        break;
                    case 4:
                        document.getElementById('h3').style.backgroundColor = orange;
                        document.getElementById('p').style.color = orange;
                        $scope.current = orange;

                        $scope.setbackground($scope.td);

                        document.getElementById('c4').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c1').style.borderTop = null;
                        document.getElementById('c2').style.borderTop = null;
                        document.getElementById('c3').style.borderTop = null;
                        document.getElementById('c0').style.borderTop = null;
                        document.getElementById('c5').style.borderTop = null;
                        break;
                    case 5:
                        document.getElementById('h3').style.backgroundColor = green;
                        document.getElementById('p').style.color = green;
                        $scope.current = green;

                        $scope.setbackground($scope.td);

                        document.getElementById('c5').style.borderTop = 'thick solid ' + $scope.current;
                        document.getElementById('c1').style.borderTop = null;
                        document.getElementById('c2').style.borderTop = null;
                        document.getElementById('c3').style.borderTop = null;
                        document.getElementById('c4').style.borderTop = null;
                        document.getElementById('c0').style.borderTop = null;
                        break;

                    default:
                        break;
                }
            }

            $scope.setbackground = function (id) {
                $scope.td = id
                switch (id) {
                    case 0:
                        document.body.style.backgroundColor = 'white';
                        document.getElementById('h3').style.color = 'white';
                        document.getElementById('td0').style.borderBottom = 'thick solid ' + $scope.current;
                        document.getElementById('td1').style.borderBottom = null;
                        document.getElementById('td2').style.borderBottom = null;
                        break;
                    case 1:
                        document.body.style.backgroundColor = night;
                        document.getElementById('h3').style.color = night;
                        document.getElementById('td1').style.borderBottom = 'thick solid ' + $scope.current;
                        document.getElementById('td0').style.borderBottom = null;
                        document.getElementById('td2').style.borderBottom = null;
                        break;
                    case 2:
                        document.body.style.backgroundColor = 'black';
                        document.getElementById('h3').style.color = 'black';
                        document.getElementById('td2').style.borderBottom = 'thick solid ' + $scope.current;
                        document.getElementById('td1').style.borderBottom = null;
                        document.getElementById('td0').style.borderBottom = null;
                        break;

                    default:
                        break;
                }
            }

            $scope.setcolor(Math.floor(Math.random() * 6));
            $scope.setbackground(Math.floor(Math.random() * 3));

        });
    </script>


</body>



</html>
